AgentHackathon/force-app/main/default/flows/create_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ListOfProductId</name>
        <label>ListOfProductId</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ProductIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Line_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Order_Line_Items</name>
        <label>Map Order Line Items</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderLineItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Line_Items_With_Product_Id.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Line_Items_With_Product_Id.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PB_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PB_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>OrderMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Order Has Been Placed Successfully.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Line_Items</name>
        <label>Check Line Items</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_LineItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_PriceBookId</targetReference>
            </connector>
            <label>has LineItems</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Items_Product_Id_and_PBE_Product_Id</name>
        <label>Check Line Items Product Id and PBE Product Id</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>PB_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasProdId_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Line_Items_With_Product_Id.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PB_List.Product2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Order_Line_Items</targetReference>
            </connector>
            <label>hasProdId Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_Order_Line_Items</name>
        <label>Check List Order Line Items</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Order_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasListOrderLineItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOrderLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_List_Order_Line_Items</targetReference>
            </connector>
            <label>hasListOrderLineItems</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prescriptions</name>
        <label>Check Prescriptions</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasPrescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prescriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Line_Items</targetReference>
            </connector>
            <label>hasPrescription</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>create order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create order</label>
    <loops>
        <name>Check_Line_Items_With_Product_Id</name>
        <label>Check Line Items With Product Id</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PB_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Line_Items</name>
        <label>Loop Line Items</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ListOfProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PB_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PB_List</name>
        <label>PB List</label>
        <locationX>622</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_PB_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Line_Items_Product_Id_and_PBE_Product_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Line_Items_With_Product_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_List_Order_Line_Items</name>
        <label>Create List Order Line Items</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Order_Confirmation</targetReference>
        </connector>
        <inputReference>ListOrderLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>orderId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Prescriptions.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Records_PriceBookId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prescriptions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PB_Entry</name>
        <label>Get PB Entry</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Line_Items_With_Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_PriceBookId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescriptions</name>
        <label>Get Prescriptions</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Prescriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prescription__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_PriceBookId</name>
        <label>Get Records PriceBookId</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prescriptions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
