AgentHackathon/force-app/main/default/flows/Create_Appointment_for_CareLink_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Appointment_FailureMessage</name>
        <label>Appointment Failure Message</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AppointmentStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Appointment Creation is Unsuccessfull</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Appointment_Success_Creation</name>
        <label>Appointment Success Creation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AppointmentStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Appointment Created Successfully</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Appointment_FailureMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Creation_Successfull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Success_Creation</targetReference>
            </connector>
            <label>Appointment Creation Successfull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Appointment for CareLink Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Appointment for CareLink Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Appointment_Creation_for_Carelink_Agent</name>
        <label>Appointment Creation for Carelink Agent</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>AppointmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Available_Slot__c</field>
            <value>
                <elementReference>AvailableSlotId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>DoctorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordCreates>
    <recordUpdates>
        <name>AppointStatus</name>
        <label>AvailableSlotStatusBooked</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AvailableSlotId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Available_Slot__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_Creation_for_Carelink_Agent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppointmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AvailableSlotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
