AgentHackathon/force-app/main/default/flows/Create_Price_Book_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignmentPriceBook_Entry</name>
        <label>AssignmentPriceBook Entry</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SinglePriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_of_price_book_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfPriceBookEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SinglePriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_price_book_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Increment</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!SinglePriceBookEntry.UnitPrice}), 1, {!SinglePriceBookEntry.UnitPrice} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Price Book Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Price Book Entry</label>
    <loops>
        <name>Collection_of_price_book_records</name>
        <label>Collection of price book records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Price_book_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentPriceBook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Price_Book_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Price_Book_Entry</name>
        <label>Copy 1 of Create Price Book Entry</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>CollectionOfPriceBookEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_book_Records</name>
        <label>Get Price book Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_of_price_book_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Price_book_Records</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>SinglePriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
