AgentHackathon/force-app/main/default/flows/Get_Appointments_for_Carelink_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Empty_Msg</name>
        <label>Empty Msg</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment Not Found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Msg</name>
        <label>Error Msg</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success_Msg</name>
        <label>Success Msg</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successful in getting appointment. Doctor Name :  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Doctor.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>     Doctor Department  :        </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fetchStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Doctor.Department__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsEmpty</name>
        <label>IsEmpty</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Fetch_Doctor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outputAppointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Msg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Appointments for Carelink Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Appointment for Carelink Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Doctor</name>
        <label>Fetch Doctor</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outputAppointments.Doctor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_latest_Appointment</name>
        <label>Fetch latest Appointment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEmpty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <object>Appointment__c</object>
        <outputReference>outputAppointments</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Start_time__c</queriedFields>
        <queriedFields>End_time__c</queriedFields>
        <queriedFields>Patient__c</queriedFields>
        <queriedFields>Doctor__c</queriedFields>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_latest_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fetchStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
