AgentHackathon/force-app/main/default/flows/Get_Latest_Prescription_Based_on_PhoneNumber_for_Carelink_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddPrescriptionItems</name>
        <label>Add Prescription Items</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PrescriptionLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Getting_Products_from_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prescription</name>
        <label>Assign Prescription</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LatestPrescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription_Based_on_Patient_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Prescription_Line_Item_Based_on_PrescriptionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collecting_Product_Names</name>
        <label>Collecting Product Names</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OutputProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Getting_Products_from_Line_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Latest Prescription Based on PhoneNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Prescription Based on PhoneNumber for Carelink Agent</label>
    <loops>
        <name>Loop_for_Getting_Products_from_Line_Items</name>
        <label>Loop for Getting Products from Line Items</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Prescription_Line_Item_Based_on_PrescriptionId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPrescriptionItems</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prescription_Based_on_Patient_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescription_Based_on_Patient_Phone_Number</name>
        <label>Get Prescription Based on Patient Phone Number</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prescription__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescription_Line_Item_Based_on_PrescriptionId</name>
        <label>Get Prescription Line Item Based on PrescriptionId</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Getting_Products_from_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LatestPrescription.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collecting_Product_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_Getting_Products_from_Line_Items.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LatestPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>OutputProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrescriptionLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ProductNames</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
