AgentHackathon/force-app/main/default/flows/Get_Available_Slots_For_Carelink_agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Empty_Msg</name>
        <label>Empty Msg</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>slotStatusMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slots not available.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>slotStatusMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success_Msg</name>
        <label>Success Msg</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>slotStatusMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_Slots_available</name>
        <label>Are Slots available?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Empty_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableTimeSlots</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Msg</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Added the validation for time, and status message.</description>
    <environments>Default</environments>
    <formulas>
        <name>timeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Get Available Slots For Carelink agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Available Slots For Carelink agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Slots</name>
        <label>Get Available Slots</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Slots_available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>doctorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>slotDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_Start_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>timeNow</elementReference>
            </value>
        </filters>
        <object>Available_Slot__c</object>
        <outputReference>AvailableTimeSlots</outputReference>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Doctor__c</queriedFields>
        <queriedFields>Start_time__c</queriedFields>
        <queriedFields>End_time__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Slots</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableTimeSlots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Available_Slot__c</objectType>
    </variables>
    <variables>
        <name>doctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotStatusMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>The status message is unknown.</stringValue>
        </value>
    </variables>
</Flow>
