AgentHackathon/force-app/main/default/flows/Get_Available_Doctors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_Doctor_List</name>
        <label>Copy 2 of Doctor List</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AllDoctorsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Doctors_Department_Not_Null</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Doctor_List</name>
        <label>Doctor List</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AllDoctorsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Doctors_With_Department_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Department</name>
        <label>Check Department</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Doctors_Department_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasDepartment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>departmentName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doctors_With_Department_Name</targetReference>
            </connector>
            <label>hasDepartment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Available Doctors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Available Doctors</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Doctors_Department_Not_Null</name>
        <label>Get Doctors Department Not Null</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Doctor_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctors_With_Department_Name</name>
        <label>Get Doctors With Department Name</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doctor_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>departmentName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Department</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDoctorsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>departmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
