AgentHackathonPart2/force-app/main/default/flows/Create_Inventory_Ledger_based_on_Order_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Related_Order_Products_empty_or_not</name>
        <label>Related Order Products empty or not</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Related Order Products</defaultConnectorLabel>
        <rules>
            <name>Had_Related_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Line_items_of_Order_Status_is_Fulfilled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_the_Order_Line_items</targetReference>
            </connector>
            <label>Had Related Order Products</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Inventory Ledger based on Order status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inventory Ledger based on Order status</label>
    <loops>
        <name>Loop_the_Order_Line_items</name>
        <label>Loop the Order Line items</label>
        <locationX>68</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Line_items_of_Order_Status_is_Fulfilled</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Inventory_Ledger</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_Ledger</name>
        <label>Create Inventory Ledger</label>
        <locationX>156</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_the_Order_Line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_the_Order_Line_items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_the_Order_Line_items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>InventoryLedger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Line_items_of_Order_Status_is_Fulfilled</name>
        <label>Get Order Line items of Order Status is Fulfilled</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Order_Products_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Line_items_of_Order_Status_is_Fulfilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
