AgentHackathonPart2/force-app/main/default/flows/Update_Product_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Remove_quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Withdrawl</defaultConnectorLabel>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_quantity</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
    </decisions>
    <description>Update Product Quantity based on Inventory ledger</description>
    <environments>Default</environments>
    <formulas>
        <name>addedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity__c} + {!$Record.Product__r.Available_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>removeQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Product__r.Available_Quantity__c} - {!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Product Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Quantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_quantity</name>
        <label>Add quantity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>addedQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_quantity</name>
        <label>Remove quantity</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>removeQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transaction_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>InventoryLedger__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
